<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
<meta charset="UTF-8">
</head>

<body class="container-fluid ">
	<div th:fragment="footer" style="background-color: #e9ecef">
		<div class="text-center">
			<span class="text-muted"> Project quản lý thư viện offline.
				&copy; 2020 </span>
		</div>
	</div>

	<div th:fragment="footer-admin" style="background-color: #e9ecef">
		<div class="text-center">
			<span class="text-muted"> Project quản lý thư viện offline.
				&copy; Admin 2020 </span>
		</div>
	</div>
</body>
</html>