<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="images/logo.png">
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
</head>

<body>
	<header th:replace="fragments/header :: header"></header>
	<div class="row justify-content-center">
		<div class="col-12 col-lg-7">
			<div layout:fragment="content"></div>
		</div>
		<aside class="col-12 col-lg-3">
			<div th:replace="fragments/sidebar :: rightside"></div>
		</aside>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
	
	<script src="javascripts/jquery.slim.min.js"></script>
	<script src="javascripts/popper.min.js"></script>
	<script src="javascripts/bootstrap.min.js"></script>
	<script src="javascripts/fontawesome.js"></script>
</body>

</html>