<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="images/logo.png">
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
</head>

<body>
	<div th:replace="fragments/header :: header-admin"></div>

	<div layout:fragment="content"></div>

	<div th:replace="fragments/footer :: footer-admin"></div>
	
	<script src="javascripts/jquery.slim.min.js"></script>
	<script src="javascripts/popper.min.js"></script>
	<script src="javascripts/bootstrap.min.js"></script>
	<script src="javascripts/fontawesome.js"></script>
</body>

</html>