<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout-main}">

<head>
<meta charset="UTF-8">
<title>Chi tiết sách</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="jumbotron">
			<h1 class="display-4">Thông tin sách</h1>
			<div class="card mb-3">
				<div class="row no-gutters">
					<div class="col-md-4">
						<img src="images/bookCovers/b00023.jpg" class="card-img">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title text-uppercase">Tôi thấy hoa vàng trên
								cỏ xanh</h5>
							<p class="card-text">
								“Tôi thấy hoa vàng trên cỏ xanh” truyện dài mới nhất của nhà văn
								vừa nhận giải văn chương ASEAN Nguyễn Nhật Ánh - đã được Nhà
								xuất bản Trẻ mua tác quyền và giới thiệu đến độc giả cả nước. <small><a
									href="#myTab" onclick="$('#description-tab').tab('show');"
									class="text-primary">(Xem thêm)</a></small>
							</p>
							<p class="card-text"></p>
						</div>
					</div>
				</div>
			</div>
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item"><a class="nav-link active" id="info-tab"
					data-toggle="tab" href="#info" role="tab" aria-controls="info"
					aria-selected="true">Thông tin</a></li>
				<li class="nav-item"><a class="nav-link" id="description-tab"
					data-toggle="tab" href="#description" role="tab"
					aria-controls="description" aria-selected="false">Mô tả</a></li>
				<li class="nav-item"><a class="nav-link" id="comment-tab"
					data-toggle="tab" href="#comment" role="tab"
					aria-controls="comment" aria-selected="false">Bình luận</a></li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="info" role="tabpanel"
					aria-labelledby="info-tab">
					<div class="d-table w-75">
						<div class="d-table-row">
							<div class="d-table-cell">Nhà xuất bản</div>
							<div class="d-table-cell">NXB Trẻ</div>
						</div>
						<div class="d-table-row">
							<div class="d-table-cell">Năm xuất bản</div>
							<div class="d-table-cell">2010</div>
						</div>
						<div class="d-table-row">
							<div class="d-table-cell">Kích thước (cm)</div>
							<div class="d-table-cell">13 x 20</div>
						</div>
						<div class="d-table-row">
							<div class="d-table-cell">Số trang</div>
							<div class="d-table-cell">380</div>
						</div>
						<div class="d-table-row">
							<div class="d-table-cell">ISBN</div>
							<div class="d-table-cell">2517690808536</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="description" role="tabpanel"
					aria-labelledby="description-tab">
					<p style="text-indent: 2em;">“Tôi thấy hoa vàng trên cỏ xanh”
						truyện dài mới nhất của nhà văn vừa nhận giải văn chương ASEAN
						Nguyễn Nhật Ánh - đã được Nhà xuất bản Trẻ mua tác quyền và giới
						thiệu đến độc giả cả nước.</p>
					<p style="text-indent: 2em;">Cuốn sách viết về tuổi thơ nghèo
						khó ở một làng quê, bên cạnh đề tài tình yêu quen thuộc, lần đầu
						tiên Nguyễn Nhật Ánh đưa vào tác phẩm của mình những nhân vật phản
						diện và đặt ra vấn đề đạo đức như sự vô tâm, cái ác. 81 chương
						ngắn là 81 câu chuyện nhỏ của những đứa trẻ xảy ra ở một ngôi
						làng: chuyện về con cóc Cậu trời, chuyện ma, chuyện công chúa và
						hoàng tử, bên cạnh chuyện đói ăn, cháy nhà, lụt lội,...</p>
					<p style="text-indent: 2em;">“Tôi thấy hoa vàng trên cỏ xanh”
						hứa hẹn đem đến những điều thú vị với cả bạn đọc nhỏ tuổi và người
						lớn bằng giọng văn trong sáng, hồn nhiên, giản dị của trẻ con cùng
						nhiều tình tiết thú vị, bất ngờ và cảm động trong suốt hơn 300
						trang sách. Cuốn sách, vì thế có sức ám ảnh, thu hút, hấp dẫn
						không thể bỏ qua.</p>
				</div>
				<div class="tab-pane fade" id="comment" role="tabpanel"
					aria-labelledby="comment-tab">
					<div class="d-table mb-4">
						<div class="mt-2 d-table-row">
							<b>Nguyễn Thị Lan Đài</b><i class="float-right">17/06/2017</i>
						</div>
						<div class="d-table-row">Sách của thầy ánh là khỏi vàn rồi
							sách vẫn đúng kiểu NN. Ánh, luốn dành phần lớn thời gian đầu để
							giới thiệu nhân vật sao đó mới đi vào cốt truyện, khá ngạc nhiên
							khi tình yêu lần này chì toàn là lớp 7 trở xuống, nhưng sách vẫn
							rất hay và dễ nhớ.</div>
						<div class="mt-2 d-table-row">
							<b>Văn Thuỷ</b><i class="float-right">02/11/2016</i>
						</div>
						<div class="d-table-row">Cực kỳ hài lòng Cuốn sách rất hay
							dành cho mọi lứa tuổi có thể đọc được. Tôi sinh ra và lớn lên ở
							nông thôn, tuổi thơ gắn liền với cánh đồng lúa, bờ mương và những
							đàn trâu bò. Buổi chiều lũ trẻ chúng tôi thường đánh khăng đánh
							đáo, tắm ao. Tác phẩm đem lại cho ký ức tuổi thơ tôi rất nhiều kỷ
							niệm</div>
					</div>
					<form class="form">
						<label for="inputComment">Viết bình luận</label>
						<textarea class="form-control" id="inputComment" rows="3"
							placeholder="Chỉ những bình luận đúng chính tả với ngôn từ phù hợp mới được xét duyệt"></textarea>
						<button type="submit" class="btn btn-primary mb-2">Đăng
							bình luận</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>