<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout-main}">

<head>
<meta charset="UTF-8">
<title>Liên hệ</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="jumbotron">
			<h1 class="display-4">Liên hệ</h1>
			<div class="mb-5">Hãy thoải mái liên hệ với chúng tôi hoặc đến
				trực tiếp tại thư viện. Chúng tôi luôn chào đón tất cả mọi người và
				luôn muốn văn hóa đọc phát triển mạnh mẽ. Chúng tôi làm việc theo
				giờ hành chính.</div>
			<div class="row">
				<div class="col-md">
					<div class="row">
						<div class="col-2">
							<i class=" fa fa-map-marker fa-2x text-muted"></i>
						</div>
						<div class="col">
							<h4>Địa chỉ</h4>
							<p>Khu phố 6, phường Linh Trung, Quận Thủ Đức, TP.HCM.</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="row">
						<div class="col-2">
							<i class=" fa fa-phone fa-2x text-muted"></i>
						</div>
						<div class="col">
							<h4>Điện thoại</h4>
							<p>
								Cơ quan: +61 3 9987 5654 <br>Fax: +61 5 7655 7888
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md">
					<div class="row">
						<div class="col-2">
							<i class="fa fa-clock-o fa-2x text-muted"></i>
						</div>
						<div class="col">
							<h4>Giờ mở cửa</h4>
							<p>
								Thứ Ba - Chủ Nhật: 07:00 - 17:00<br>Thứ hai: 07:00 - 12:00
							</p>
						</div>
					</div>
				</div>
				<div class="col-md">
					<div class="row">
						<div class="col-2">
							<i class="fa fa-envelope fa-2x text-muted"></i>
						</div>
						<div class="col">
							<h4>Email</h4>
							<p>hello@ndasports.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25423.24799377403!2d106.78805222469917!3d10.878858650233399!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527602e9022ef%3A0x4447d13418a1f75b!2zVGjGsCB2aeG7h24gxJDhuqFpIGjhu41jIE7DtG5nIEzDom0gVFAuSENN!5e0!3m2!1sen!2s!4v1597052558799!5m2!1sen!2s"
			class="w-100" height="450" style="border: 0;" aria-hidden="false"
			tabindex="0"></iframe>

	</div>
</body>
</html>
